<!DOCTYPE html>
<html>
    <head>
        <title>DOG breed </title>
        
    </head>
    <body>
        <p id="error"></p>
        <form>
            <label for="Dog Breeds">Dog Breeds</label>
            <select name="Dog Breeds" onclick="subBreed(this.value)" id="mainDogBreed" required>
            </select>
            <label for=" Sub Dog Breeds">Dog Breeds</label>
            <select name="Sub Dog Breeds" id="subDogBreed" required>
            </select>
            <button >Search Images</button>
        </form>
        <script src="/js/app.js"></script>
    </body>

</html>