<!DOCTYPE html>
<html>
    <head>
        <title>DOG breed </title>
        
    </head>
    <body>
        <p id="error"></p>
        <label for="Dog Breeds">Dog Breeds</label>
        <select name="Dog Breeds" onclick="subBreed(this.value)" id="mainDogBreed">
        </select>
        <label for=" Sub Dog Breeds">Dog Breeds</label>
        <select name="Sub Dog Breeds" id="subDogBreed">
        </select>
        <script src="/js/app.js"></script>
    </body>

</html>